$firstBP: 752px;
$secondBP: 510px;
.aboutCard {
	margin-bottom: 30px;
	@media (max-width: $firstBP) {
		height: 20px;
	}
	@media (max-width: $secondBP) {
		height: 10px;
	}
	&Head {
		background: #ff6060;
		border-radius: 5px;
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 10px;

		cursor: pointer;
		@media (max-width: $firstBP) {
			height: 40px;
		}
		@media (max-width: $secondBP) {
			height: 30px;
		}
		h3 {
			color: white;
			font-size: 24px;
			font-weight: 400;
			@media (max-width: $firstBP) {
				font-size: 20px;
			}
			@media (max-width: $secondBP) {
				font-size: 16px;
			}
		}
		&Opened {
			border-radius: 5px 5px 0 0;
		}
	}
	p {
		padding: 5px 10px;
		background: #ff606059;
		border-radius: 0 0 5px 5px;
		text-align: justify;
		animation: 2s fadeIn;
		animation-fill-mode: forwards;

		visibility: hidden;
		@media (max-width: $firstBP) {
			font-size: 14px;
		}
		@media (max-width: $secondBP) {
			font-size: 12px;
		}
	}
	img {
		height: 40px;
		// animation: 2s fadeIn;
		// animation-fill-mode: forwards;
		@media (max-width: $firstBP) {
			height: 30px;
		}
		@media (max-width: $secondBP) {
			height: 20px;
		}
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}
