$firstBP: 970px;
$secondBP: 768px;

.collapse {
	margin-bottom: 30px;
	@media (max-width: $firstBP) {
		margin-bottom: 20px;
	}
	@media (max-width: $secondBP) {
		margin-bottom: 10px;
	}
	&Head {
		background: #ff6060;
		border-radius: 5px;
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 10px;
		color: white;
		font-weight: 500;
		font-size: 24px;
		@media (max-width: 1400px) {
			font-size: 18px;
		}
		@media (max-width: $firstBP) {
			font-size: 13px;

			height: 30px;
		}
		img {
			height: 26px;
			@media (max-width: $firstBP) {
				height: 16px;
			}
		}
		.arrowOpened {
			transform: rotate(0deg);
			transition: all 1s ease-in-out;
		}

		.arrowClosed {
			transform: rotate(180deg);
			transition: all 1s ease-in-out;
		}
	}
	.descriptionClosed {
		max-height: 0;
		transition: 0.5s ease-in-out;
		opacity: 0;
	}
	.descriptionOpened {
		transition: all 1s ease-in-out;
		max-height: 200px;
		opacity: 1;
	}
	p,
	ul {
		padding: 5px 10px;
		background: #f7f7f7;
		border-radius: 0 0 5px 5px;
		text-align: justify;
		color: #ff6060;
		font-weight: 400;
		font-size: 18px;
		list-style-type: none;

		@media (max-width: $firstBP) {
			font-size: 12px;
		}
	}
}
