.footer {
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	color: white;
	height: 160px;
	&__img,
	&__text {
		padding-bottom: 30px;
	}
}
